*{
    box-sizing: border-box;
    margin: 0;
    

}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin: 10px;
    justify-content: center;
    width: 90%;
    
}
main>article{
    display: flex;
    flex-direction: column;
    background-color:white;
    justify-content: space-between;
    height: 500px;
    border: 2px solid grey;
    border-radius: 10px;
    width: 20%;
    
    
}

article>footer{
    display: flex;
    justify-content: space-between;
}
article>section{
    background-color:rgba(159, 157, 157, 0.081);
    display: flex;
    flex-direction: column;
    
    
    
}

article>section>h2{
    text-align: center;
}
article>section p{
display: none;

}

article>section:hover>p{
display: flex;
justify-content: center;

}
section{
    background-color: black;
}
figure{
    width: 80%;
    height: 50%;
    margin: 0 auto;
    position: relative;
    
    left: 5%;
}
img{
    width: 90%;
    height: 100%;
    border-radius: 10px;
    border: 2px solid grey;
    margin: 10px auto 0 auto;
}
figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(159, 157, 157, 0.2);
    color: white;
    width: 90%;
    height: 10%;
    text-align: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    display: none;
}
img:hover+figcaption{
display: inline-block;
}