main{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
main>article{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    justify-content: space-between;
    
}
body{
    overflow-x: hidden;
}
article>footer{
    display: flex;
    justify-content: space-between;
}